<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Study Vuejs</title>
</head>
<body>
    <div class="nav-bar"></div>
    <div id = "app">
        <div class="product">
            <div class="product-image">
            
                <img class="size-image" v-bind:src="image"/> <!--We want image data here, we see file main.js-->
                <!--<img class="size-image" v-bind:src="Name"/> example (1) file main.js-->
            
            </div>
            <div class="product-info">
            
                <h1>{{product}}</h1>
                <!--{{name}} like phone call to data "name", data like mobilephone, When use call to data and call "name", then the content of data "name" will appear, my example data "product" have data is Socks, when I call {{product}}, then Socks will appear-->
                
                <p v-if="colorSocks">White socks</p>
                <p v-else>Black socks</p>
                <!--Conditional if true, it will appear, false will not appear -->
                
                <ul>
                     <li v-for="info in infos"> {{ info }} </li>
                </ul>
                
                <div v-for="variant in variants" :key="variant.variantId" class="box-color" :style="{backgroundColor: variant.variantColor} " @mouseover="chaneImage(variant.variantImage)"></div>
                
                <ul class="Size">
                    <p>Size</p>
                    <li v-for="size in sizes"> {{ size }} </li>
                    <div></div>
                </ul>
                
                <button v-on:click="addToCart" class="add-cart btn btn-primary" :disabled="!colorSocks">Add cart</button>
                <div class="cart"> 
                    <p style="padding: 12px; margin: 0px;">Cart {{cart}}</p>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script> 
</body>
</html>