body{
    margin: 0;
}

.nav-bar{
    background: linear-gradient(90deg, rgba(75,193,140,1) 0%, rgba(122,216,134,1) 27%, rgba(86,184,84,1) 70%, rgba(11,239,1,1) 100%);
    height: 50px;
    width: 100%;
}

.product-image .size-image{
    width: 400px;
    height: 400px;
}

.product{
    margin-top: 100px;
}

.product-info .Size{
    padding: 0px;
    list-style: none;
}

.Size li{
    cursor: pointer;
    margin: 0px 3px;
    float: left;
    border: 1px solid;
    width: 50px;
    text-align: center;
    padding: 5px 10px;
}

.Size li:hover{
    transition: 0.5s;
    background-color: rgb(149, 196, 243);
}

.Size div{
    clear: both;
}

.cart{
    border: 1px solid;
    width: 80px; 
    position: absolute;
    display: flex;
    margin-top: 10px;
    right: 15px;
    top: 80px;
}

.box-color{
    width: 50px;
    height: 50px;
    border: 1px solid;
    margin-bottom: 10px;
}

.not-click{
    background-color: black;
}

.comment{
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: auto;
    height: auto;
    display: block;
}

.review-center{
    display: flex;
    align-items: center;
    width: auto;
}

.rating{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tabs{
    cursor: pointer;
}

.activeTab{
    text-decoration: underline;
    color: rgb(11, 193, 63);
}